@import '../../styles/variables.scss';

.navbar {
  padding: $main-padding;
}

.navbar-item,
.navbar-item .MuiTouchRipple-root {
  border-radius: $main-border-radius;
}

.navbar-item {
  text-decoration: none;
  * {
    color: $font-color-regular;
  }
  &.active * {
    color: $font-color-bold;
  }
}
